.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#registration-form {
  display: flex;
  margin: auto;
  box-shadow: 1;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  width: 450px;
  height: 500px;
  padding: 8px;
}

#order-placement-form {
  display: flex;
  flex-direction: column;
  box-shadow: 1;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  width: 400px;
  height: 400px;
  padding: 8px;
  margin: auto;
};

#monthly-amount-displayer {
  display: flex;
  box-shadow: 1;
  border-radius: 16px;
  background-color: #222222;
  width: 400px;
  height: 400px;
  padding: 8px;
}

.text-field {
  width: 230px;
  border-color: white;
  border-radius: 4px;
  background-color: white;
}

.tiles {
  max-width: 66.7px;
  max-height: 35px;
  background-color: whitesmoke;
  border: 1.3px solid gray;
  color: black;
};